<a href="/new.html">New</a>
<form action="/delete" >
<table>
  <% members.forEach(function(member) { %>
    <tr>
      <td><%=member.name%></td>
      <td><button type="submit" name="member" value="<%=member._id%>">Delete</button></td>
    </tr>
  <% }) %>
</table>
</form>
