<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<style>
	.user {
		padding:2em;
		margin:2em;
		border-radius: 5px;
		border:2px solid #eee;
		background: #ccc;
	}
</style>

<div id="users">

</div>

<script>
	var $users = $("users");
	var loadUsers = function() {
		$.getJSON("/users", function(users) {
			users.forEach(function(users) {
				$users.append("<pre class='users'><code>" + JSON.stringify(user,null,2) + "</code></pre>");
			});
		});
	};

	loadUsers();
</script>